.carousel {
    width: 100%;
    margin-top: 20px;
  }
  
  .carousel-inner {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 10px;
    gap: 10px;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 300px;
    height: 200px;
  }
  
  .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow {
    cursor: pointer;
  }
  